<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="DiaryEntryDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\USERS\USER\SOURCE\REPOS\TOTALLYNORMALCALCULATOR\TOTALLYNORMALCALCULATOR\DIARYENTRYDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>	
	</connectionStrings>
	
</configuration>