<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="DiaryEntryDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\TotallyNormalCalculator\TotallyNormalCalculator\bin\Release\net5.0-windows\DIARYENTRYDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>	
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>